*{
    margin: 0;
}
li{
    list-style: none;
    padding: 40px;
}
div{
    width: 400px;
    height: 300px;
    background-image: url("https://v-extechsolution.in/static/media/logo.b48612c02e688a28a62f.png");
    background-repeat: no-repeat;
    background-size: contain;
}
button{
    width: 100px;
    border: 2px solid black;
}