*{
    margin: 0;

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.ml{
    display: none;
}

@media (max-width: 768px) {
    .list,.menu{
        display: none;
    }
    
    .ml{
        display: block;
        position: absolute;
        padding-right: 20px;
        top: 35px;
        right: 0;

    }
    .logo{
        position: absolute;
        padding-left: 20px;
        top: 35px;
        left: 0;
        height: auto;

        img{
            width: 75px;
        }
    }

    
}




.list{
    width: 400px;
}

.list ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.list ul li{
    margin: 10px;
    padding: 10px;
    color: black;
}

.list ul a{
    text-decoration: none;
}
.menu button{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
}
.mainhero, .subhero, .subhero2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    
}
.shero{
    margin-right: 70px;
}
.shero2{
    margin-left: 70px;
}

.img img{
    width: 300px;
}
.simg, .simg2{
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
    
    .box1{
        width: 200px;
        height: 50px;
        margin-left: 20px;
        background-color: azure;
        padding: 5px;
        border-radius: 10px;
        position: relative;

        p::before{
            content: 'cir';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: blue;
            position: absolute;
            left: -30px;
        }
    }
    .box2{
        width: 200px;
        height: 60px;
        margin-right: 20px;
        background-color: orange;
        border-radius: 10px;
        padding: 5px;
        position: relative;


        p::after{
            content: 'cir';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: blue;
            position: absolute;
            right: -30px;
            
        }
    }
    .box3{
        width: 200px;
        height: 60px;
        margin-left: 20px;
        background-color: azure;
        padding: 5px;
        border-radius: 10px;
        position: relative;

        p::before{
            content: 'cir';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: blue;
            position: absolute;
            left: -30px;
        }
    }
    .logot{
        position: relative;
        .text{
            padding: 5px;
            
        }
        i{
            background-color: grey;
            padding: 3px;
            position: absolute;
            left: 156px;
            top: 3px;
            
        }
    }
    

}



@media (max-width: 768px) {
    .mainhero, .subhero{
        flex-direction: column-reverse;
        padding: 50px 20px;
        margin-top: 50px;
    }
    .img img{
        width: 265px;
    }
    .simg img{
        width: 265px;
    }
}

@media (max-width: 768px) {
    .subhero2{
        flex-direction: column;
        padding: 50px 20px;
        margin-top: 50px;
    }
    .simg2 img{
        width: 265px;
    }
}

.hero, .subhero{
 padding: 0px 50px;
 font-family: 'Times New Roman', Times, serif;
 margin-top: 100px;
 
 p{
    margin-top: 10px;
 }

 button{
    margin-top: 10px;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    
}

}
.features{
    width: 100%;
}
.featuers h1{
    text-align: center;
    margin: 20px;
    padding: 10px;
    
}

.feat{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 20px;
    gap: 50px;
    

}

.f1{
    background-color: #f2f2f2;
    padding: 10px;
    padding-left: 50px;
    margin: 0px 20px;
    border: 2px solid black;
    position: relative;
      h4::before {
        content: "\f001";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 22px;
        color: orange;
    }
    
    
}

.f2{
    background-color: #f2f2f2;
    padding: 10px;
    padding-left: 50px;
    margin: 0px 20px;
    border: 2px solid black;
    position: relative;
      h4::before {
        content: "\f001";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 22px;
        color: orange;
    }
    
}
.f3{
    background-color: #f2f2f2;
    padding: 10px;
    padding-left: 50px;
    margin: 0px 20px;
    border: 2px solid black;
    position: relative;
      h4::before {
        content: "\f001";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 22px;
        color: orange;
    }
    
    
}

@media (max-width: 768px){
    .feat{
        overflow-x: auto;
        white-space: nowrap;
        padding: 30px;
        width: 100%;
        height: 100px;
        text-overflow: ellipsis;

        h1{
            text-align: left;
        }
    }

}

.orange{
    background-color: orange;
    padding: 10px;
    padding-top: 30px;
    width: 100%;
    h1{
        text-align: center;
    }

    .card{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;

        .card-body1, .card-body2{
            background-color: aliceblue;
            width: 300px;
            height: 150px;
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;

            h4{
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                text-align: justify;
                padding: 5px;
            }
        }
    }

}

@media (max-width: 768px){
    .orange h1{
        text-align: left;
    }
    .card{
        flex-direction: column;
    }
}

.footer{
    
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1{
        text-align: center;
        margin-bottom: 20px;
    }

    button{
        background-color: orange;
        color: white;
        border: none;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.fnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    

    .navi{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        width: 300px;
    }

    a{
        color: black;
        text-decoration: none;
        padding: 10px;
        margin-right: 10px;
    }

    .icon{
        padding: 10px;
        color: orange;
        font-size: 20px;
       
        li{
            margin-right: 10px;
        }
        
        ul{
           display: flex; 
           list-style-type: none;
           gap: 10px;
           justify-content: space-around;
        }
    }
}

.line{
    height: 1px;
    background-color: black;
    margin: 20px 20px;
}

.copy{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 20px;
}

@media (max-width: 768px){
    .fnav{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

