*{
    margin: 0;

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.ml{
    display: none;
}

@media (max-width: 768px) {
    .list,.menu{
        display: none;
    }
    
    .ml{
        display: block;
        position: absolute;
        padding-right: 20px;
        top: 35px;
        right: 0;

    }
    .logo{
        position: absolute;
        padding-left: 20px;
        top: 0;
        left: 0;
    }
    
}

.logo{
    background-image: url('../images/LOgo.png'); background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 100px;
    height: 100px;
}
.list{
    width: 400px;
}

.list ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.list ul li{
    margin: 10px;
    padding: 10px;
    color: black;
}

.list ul a{
    text-decoration: none;
}
.menu button{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
}
.mainhero, .subhero, .subhero2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    
}
.img img{
    width: 300px;
}
.simg img{
    width: 300px;
}
.simg2 img{
    width: 300px;

}


@media (max-width: 768px) {
    .mainhero, .subhero{
        flex-direction: column-reverse;
        padding: 50px 20px;
        margin-top: 50px;
    }
    .img img{
        width: 265px;
    }
    .simg img{
        width: 265px;
    }
}

@media (max-width: 768px) {
    .subhero2{
        flex-direction: column;
        padding: 50px 20px;
        margin-top: 50px;
    }
    .simg2 img{
        width: 265px;
    }
}

.hero, .subhero{
 padding: 0px 50px;
 font-family: 'Times New Roman', Times, serif;
 margin-top: 100px;
 
 p{
    margin-top: 10px;
 }

 button{
    margin-top: 10px;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    
}

}
.featuers h1{
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.feat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0px 20px;
    gap: 10px;
    

}

.f1::before{
    content: "cir";
    width: 20px;
    height: 20px;
    background-color: orange;
    margin-right: 10px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
}
.f2::before{
    content: "cir";
    width: 20px;
    height: 20px;
    background-color: orange;
    margin-right: 10px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
}
.f3::before{
    content: "cir";
    width: 20px;
    height: 20px;
    background-color: orange;
    margin-right: 10px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
}

@media (max-width: 768px){
    .featuers{
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        height: 200px;

        h1{
            text-align: left;
        }
    }

}

.orange{
    background-color: orange;
    padding: 10px;
    padding-top: 30px;
    h1{
        text-align: center;
    }

    .card{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;

        .card-body1, .card-body2{
            background-color: aliceblue;
            width: 300px;
            height: 150px;
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;

            h4{
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                text-align: justify;
                padding: 5px;
            }
        }
    }

}

@media (max-width: 768px){
    .orange h1{
        text-align: left;
    }
    .card{
        flex-direction: column;
    }
}

.footer{
    
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1{
        text-align: center;
        margin-bottom: 20px;
    }

    button{
        background-color: orange;
        color: white;
        border: none;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.fnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    

    .navi{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        width: 300px;
    }

    a{
        color: black;
        text-decoration: none;
        padding: 10px;
        margin-right: 10px;
    }

    .icon{
        padding: 10px;
        
        ul{
           display: flex; 
           list-style-type: none;
           gap: 10px;
           justify-content: space-around;
        }
    }
}

.line{
    height: 1px;
    background-color: black;
    margin: 20px 20px;
}

.copy{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 20px;
}

@media (max-width: 768px){
    .fnav{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}